mongoengine
python-telegram-bot
PySocks
pymongo
Flask
Flask-Admin
flask-restful
flask-mongoengine
marshmallow
marshmallow_mongoengine
requests
requests-cache
pyyaml
coloredlogs
pymessenger
vk_api
pika
wrapt
sentry-sdk
numpy
pymorphy2
gensim
schedule
babel
pyzbar[scripts]
pyzbar==0.1.7
Pillow
pypng
pyqrcode
